@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizzing: border-box;
    font-family: "Poppins", sans-serif;
}

form {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 60%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    background-color: #daf4f5;

}
form input{
    height: 30px;
    width: 35%;
    outline: none;
    padding: 5 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
}